@font-face {
    src: url(../fonts/Oswald-VariableFont_wght.ttf);
    font-family: 'oswald';
    font-style: normal;
}

@font-face {
    src: url(../fonts/Courgette-Regular.ttf);
    font-family: 'courgette';
    font-style: normal;
}


